// Specific CSS for your home-page
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 100px;
}

img{

}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.btn{
  color: white;
  background-color: #7d1a1ab7;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  width: 400px;
}

.search-form-control .form-control:focus {
  border: 1px solid #7d1a1ab7;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

a {
  font-family: 'Franklin Gothic Medium';
}

.footer {
  background: var(--darkbrown);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px 50px;
  color: white;
  width:100%;
  height:100px;

}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
  font-family:sans-serif;
}
