.btn-primary:hover {
  background-color: #7d1a1ab7;
  background-color: transparent;
  color: black;
}

.btn-primary {
  border-radius: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fa-search:hover {
  background-color: #7d1a1ab7;
  opacity: 0.9;
}

#event-button {
  padding: 0px 0px 5px 1120px  ;
}
