.container {
  max-width: 1300px;
  margin: 20px auto;
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.events a {
  text-decoration: none;
}

.card-event {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 10px;
}

.card-event:hover {
  transform: scale(1.1);
  border: solid var(--darkbrown);
  }

.card-event > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-event h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: black;
  font-size: larger;
}

.card-event p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-decoration: none;
  color: black;
  font-size: medium;
}


.card-event .card-event-infos {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-event .card-event-headline {
  padding: 15px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}



.card-event .card-event-infos a {
  text-decoration: none;
}

.details {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}


.show-event {
  overflow: hidden;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  border-radius: 10px;
  background-color: white;
  color: black;

}
.booking-request {
  margin: 20px;
}

#booked {
  padding: 40px;
  background-color: white;
  color: black;
  border-left: solid var(--green);
}

.show-event img {
  max-width: 300px;
  object-fit: cover;
}

.show-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
}


.show-event h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  font-size: larger;
}

.show-event p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-decoration: none;
  font-size: medium;
}


.show-event .show-event-infos {
  padding: 10px 10px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
}

.show-event-headline {
  padding: 15px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
}

.show-event-headline p {
  margin: auto 80px;
}


.event-without-description {
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

.headline-keyinfo {
  margin: 30px 50px;
}

.show-event-description {
  margin: 20px 20px;
}
