.navbar-lewagon {
  justify-content: space-between;
  background: var(--green);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-image {
  width: 100px;
  margin-left: 10px;
  margin-top: 5px;

}

.nav-link {
  color: black;
}
