.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: solid var(--darkbrown) 5px;
  height: 120px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar-image {
  width: 100px;
  margin-left: 10px;
  margin-top: 5px;

}

.nav-link {
  color: black;
  align-items: center;
  margin-top: 10px;
}
