// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/card";
@import "components/navbar";
@import "components/footer";


:root {
  --green: #698269;
  --beige: #F1DBBF;
  --darkbrown: #AA5656;
  --lightbrown: #B99B6B;
  --darkorange: #c56b16da;
}

body {
  background-color: #F1DBBF;
}

p {
  font-family: "Golos Text", "Helvetica", "sans-serif";
}
